---
---

@import "{{ site.theme }}";


.post {

    font-size: 1.2rem;
    line-height: 1.8;
    text-align: justify;

    .post-header {
        margin-bottom: 5rem;
    }

    h3, h4 {
        font-weight: 500;
    }

    h3 {
        margin: 5rem 0 3rem 0;
    }

    h4 {
        margin: 4rem 0 2.5rem 0;
        font-size: 20px;
    }

    blockquote {
        p {
            margin-bottom: 0;
        }
    }

    .bold {
        font-weight: bold;
    }

}

.changed-code {
    padding-left: 10px;
    margin-left: -10px;

    &.added-code {
        background-color: #0fb40026;
        width: 100%
    }
    
    &.removed-code {
        background-color: #ff000026;
        width: 100%
    }
}

